body {
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
     animation-name: movebackground;
     animation-duration: 15s;
     animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes movebackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.sun {
    width: 200px;
    height: 200px;
    background: url('sun.png') no-repeat center center;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 350px;
    animation-name: moveSun;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    
}
@keyframes moveSun {
  from {
    transform: rotate(0deg) ;
  }
  to {
    transform: rotate(360deg);
  }
}
.road {
    width: 100%;
    height: 300px;
    background: url('road.jpg') repeat-x; /* tile image horizontally */
    background-size: contain;               /* scale to fit height */
    position: absolute;
    bottom: 0;
    left: 0;
    animation-name: moveRoad;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes moveRoad {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1000px 0; /* shift left continuously */
  }
}
.car {
    width: 200px;
    height: 100px;
    background: url('car.png'); /* tile image horizontally */
    background-size: contain;               /* scale to fit height */
    position: absolute;
    bottom: 40px;
    left: 0;
    animation-name: moveCar;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes moveCar {
  0% {
    left: 100%;   /* start fully off-screen on the right */
  }
  100% {
    left: -200px; /* move until fully off-screen on the left */
  }
}